<footer>
    <section class="app-footer-links">
      <div>
        <h4>Quick Links</h4>
        <ul>
          <li>About</li>
        </ul>
      </div>
      <div>
        <h4>Social Media</h4>
        <ul>
          <li>Instagram</li>
          <li>Tiktok</li>
          <li>Twitter</li>
        </ul>
      </div>
      <div class="newsletter">
        <h2 class="newsletter-title">Sign up for our newsletter:</h2>
        <input
          class="newsletter-input"
          type="email"
          placeholder="Enter your email"
        />
      </div>
    </section>
  </footer>
